<div class="profile container">
	<div class="container profile-sec">
		<div class="row">
			<table>
				<tr>
					<td width="30%">
						<h1 class="profile-title">&rsaquo;&rsaquo; Profile Page</h1>
					</td>
					<td width="60%">
					</td>
					<td id="editB" width="10%">
						<button class="btn btn-info glyphicon glyphicon-edit" onClick="editprofile()"></button>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div class="well">
			<div class="row">
				<div id="addedMV" class="info-div col-md-8">
					<div class="well row profile-name">
						<div class="field-title col-md-4"> <font><b>First Name:</b> </font>	</div>
						<div id="fname-div" class="field-value col-md-8"><label id="fname-value"></label></div>
					</div>
					<div class="well row profile-name">
						<div class="field-title col-md-4"> <font><b>Last Name:</b> </font>	</div>
						<div id="lname-div" class="field-value col-md-8"><label id="lname-value"></label></div>
					</div>
					<div class="well row profile-mail">
						<div class="field-title col-md-4"> <font><b>Email:</b> </font>	</div>
						<div id="mail-div" class="field-value col-md-8"><label id="mail-value"></label></div>
					</div>
				</div>
				<div id="img" class="img-div col-md-4">
					<img id="img-value" src="" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
