<div class="profile container">
	
	<div class="container profile-sec">
		<div class="row">
			<table>
				<tr>
					<td width="20%">
						<h1 class="profile-title">&rsaquo;&rsaquo; Profile Page</h1>
					</td>
					<td width="60%">
					</td>
					<td id="editB" width="10%">
						<button class="btn btn-info glyphicon glyphicon-edit" onClick="editprofile()"></button>
					</td>
				</tr>
			</table>
		</div>
		<hr>
		<div class="well">
			<div class="row">
				<div id="addedMV" class="info-div col-md-6">
					<div class="well row profile-name">
						<div class="field-title col-md-4"> <font><b>First Name:</b> </font>	</div>
						<div id="fname-div" class="field-value col-md-8"><label id="fname-value"></label></div>
					</div>
					<div class="well row profile-name">
						<div class="field-title col-md-4"> <font><b>Last Name:</b> </font>	</div>
						<div id="lname-div" class="field-value col-md-8"><label id="lname-value"></label></div>
					</div>
					<div class="well row profile-mail">
						<div class="field-title col-md-4"> <font><b>Email:</b> </font>	</div>
						<div id="mail-div" class="field-value col-md-8"><label id="mail-value"></label></div>
					</div>
				</div>
				<div id="img" class="img-div col-md-6">
					<img id="img-value" src="" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	
	.profile {
		/*background-color: yellow !important;*/
		width: 100%;
		height: 40em;
		overflow-y: scroll;
		overflow-x: hidden; 
	
	}
	.profile label {
		font-style: normal !important;
		font-weight:normal;
	}
	.profile table{
		text-align: center;
		vertical-align: center;
		
	}
	.profile .edit {
		float: right;
		width: 5em;
		height: 5em !important;
		
	}
	.profile-sec {
			/*background-color: yellow !important;*/
			border: 1px solid #e3e3e3 !important;
	 	 	border-radius: 4px !important;
	  		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)!important;
	        		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)!important;
	}

	.profile hr{
		background-color: black;
		height: 0.1em;
	}
/*
	.profile .field-title  {
		text-align: right;
	}
*/
	.profile .field-value {

	}

	.profile .profile-title {
		float: left;
		padding-left: 2em;
	}

	.profile .info-div {
		padding-top: 5em;
		text-align: center;
	}

	.profile .img-div {
		text-align: center;
	}

	.profile .img-div img{
		width: 20em;
	}

</style>