<div id="errors" align="center" class="errors row well"></div>
<div class="reg-form container" align="center" style="width:40%;">
	<form class="form-horizontal" id="registration">
		<fieldset>
			<legend>Registration Form</legend>
			<hr style = 'background-color:#000000; height:1px; width:50%;' />
			<div class="well row">
				<div class="row">
					<label class="reg-field col-md-4">First Name:</label>
					<input 	class="col-md-6" 
							type="text" 
							id="firstname" 
							name="first_name" 
							onfocus="validateFN();" 
							onblur="validateFN();">
				</div>
				<div id="error-fn" class="error-S reg-field row col-md-offset-5 col-md-7">
				</div>
			</div>

			<div class="well row">
				<div class="row">
					<label class="reg-field col-md-4">Last Name:</label>
				<input class="col-md-6" 
						type="text" 
						id="lastname" 
						name="last_name" 
						onfocus="validateLN();" 
						onblur="validateLN();">
				</div>
				<div id="error-ln" class="error-S reg-field row col-md-offset-5 col-md-7"></div>
			</div>

			<div class="well row">
				<div class="row">
					<label class="reg-field col-md-4">Email Address:</label>
				<input class="col-md-6" 
						type="email" 
						id="email" 
						name="email" 
						onfocus="validateMail();" 
						onblur="validateMail();" >
				</div>
				<div id="error-em" class="error-S reg-field row col-md-offset-5 col-md-7"></div>
			</div>

			<div class="well row">
				<div class="row">
					<label class="reg-field col-md-4">password:</label>
				<input class="col-md-6" 
						type="password" 
						id="password" 
						name="password" 
						onfocus="validatePassword();" 
						onblur="validatePassword();">
				</div>
				<div id="error-ps" class="error-S reg-field row col-md-offset-5 col-md-7"></div>
			</div>

			<div class="well row">
				<div class="row">
					<label class="reg-field col-md-4">password conformation:</label>
				<input class="col-md-6" 
						type="password" 
						id="passwordconf" 
						name="passwordC" 
						onfocus="validatePasswordCon();" 
						onblur="validatePasswordCon();">
				</div>
				<div id="error-psc" class="error-S reg-field row col-md-offset-5 col-md-7"></div>
			</div>

			<div class="well row">
				<div class="row">
					<label class="reg-field col-md-4">Avatar URL:</label>
				<input class="col-md-6" 
						type="text" 
						id="avatarurl" 
						name="avatar">
				</div>
				<div id="error-av" class="error-S reg-field row col-md-offset-5 col-md-7"></div>
			</div>

			<div class="well row">
				<button type="button" 
						class="btn btn-success" 
						onClick="regiester();">
						Submit
				</button>
			</div>
		</fieldset>
	</form>
</div>